/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("");
    background-size: cover;
    background-position: center;

}

/* Container */
.login-container {
    width: 100%;
    padding: 20px;
}

/* Card */
.login-card {
    background: #ffffff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    margin: auto;
    transition: 0.3s ease;
}

.login-card:hover {
    transform: translateY(-5px);
}

/* Headings */
.login-card h2 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

/* Input Fields */
.input-group,
.role-selection {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #444;
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-color: #fda085;
    outline: none;
    box-shadow: 0 0 5px rgba(253, 160, 133, 0.5);
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #f76b1c;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #ff512f;
}

/* Error */
.error-message {
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
}

/* Register Link */
.register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.register-link a {
    color: #f76b1c;
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 500px) {
    .login-card {
        padding: 25px;
    }
}